.wrapper_task_list {
   width: 50%;
   height: 100%;
   border: 2px solid purple;
   margin-top: 30px;
   border-radius: 5px;
   background: rgb(6, 14, 47);
   display: flex;
   justify-content: center;
   align-items: center;
}
.task_list_title {
   font-size: 24px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   margin-top: 10px;
}

.tasks_list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.task {
   width: 850px;
   height: auto;
   padding: 10px 25px 10px 20px;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 5px;
   border: 3px solid purple;
   font-size: 18px;
   font-weight: bold;
   background: rgba(0, 0, 0, 0.559);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn_task {
   display: flex;
   width: 35%;
   justify-content: space-between;
}

.task_input {
   display: flex;
   width: 50%;
   justify-content: space-between;
}

.task_title {
   padding: 5px;
   width: 60%;
   color: white;
}

.wrapper_header {
   width: 100%;
   height: 50px;
   background: purple;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
}


.link {
   color: white;
   margin-right: 15px;
   margin-left: 10px;
}

.main_wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}



.task_list_completed_title {
   font-size: 24px;
   font-weight: bold;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.wrapper_task_completed {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}

.main_wrapper_completed {
   width: 50%;
   background: rgb(6, 14, 47);
   margin-top: 10px;
   border-radius: 5px;
   padding: 10px;
   border: 2px solid purple;
}

.reg_form {
   width: 30%;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   max-height: 500px;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgb(6, 14, 47);
   border: 2px solid purple;
   border-radius: 5px;
   margin-top: 45px;
}
.links_nav {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}
.reg_wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
}

.error_mess {
   color: red;
   font-size: 14px;
   position: absolute;
   font-weight: bold;
   bottom: 3%;
}

.email_user {
   color: white;
   font-size: 20px;
   font-weight: bold;
   width: 100px;
   border: 1px solid white;
   padding: 4px;
   border-radius: 5px;
}